# InternIQ Environment Variables
# Copy this file to .env and fill in your keys

# (Optional) RapidAPI JSearch key
JSEARCH_API_KEY=your_api_key_here

# App environment configuration (development / production)
APP_ENV=development

# Dynamic Port (Usually selected by Electron automatically)
# PORT=8000
